main{
  display: flex;
}
.search{
  display:flex;
  flex-direction: column;
  width:30%;
  background-color:gray
}
.weather{
  display: flex;
  flex-direction: column;
  width:70%;
  background-color: blue;
  
}
#forecast{
  display:flex;
  background-color: red;
}